/* -- Select component ------------------------------------------- */

@layer components {
  .select {
    appearance: none;
    height: var(--size-1000);
    width: 100%;
    border: var(--border-width-025) solid var(--border-secondary);

    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23737373%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.9999%2013.1714L16.9497%208.22168L18.3639%209.63589L11.9999%2015.9999L5.63599%209.63589L7.0502%208.22168L11.9999%2013.1714Z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right var(--space-300) center;
    padding: 0 var(--space-1000) 0 var(--space-300);
    font-size: var(--font-size-350);
    font-family: var(--font-mono);
    color: var(--text-primary);
    outline: none;

    cursor: pointer;
    &:focus {
      border-color: var(--border-focus);
      box-shadow: var(--ring-default);
    }

    &:disabled {
      background: var(--surface-control-disabled);
      color: var(--text-disabled);
      border-color: var(--border-disabled);
      cursor: not-allowed;
    }

    &:is([aria-invalid="true"], :user-invalid) {
      border-color: var(--border-invalid);

      &:focus {
        border-color: var(--border-invalid);
        box-shadow: var(--ring-invalid);
      }
    }

    /* -- Sizes ----------------------------------------------- */
  }
  @media (forced-colors: active) {
    .select { appearance: auto; background-image: none; }
  }
}
