@layer components {
  .scroll-area {
    overflow: auto;
    position: relative;
    overscroll-behavior: contain;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar { width: var(--space-02); height: var(--space-02); }
    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb {
      background-color: var(--border);

      &:hover { background-color: var(--muted-foreground); }
    }

    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}
