/* -- Toolbar component ------------------------------------------ */

@layer components {
  .toolbar {
    display: flex;
    align-items: center;
    gap: var(--space-01);
    padding: var(--space-01);
    border: var(--border-width-01) solid var(--border-primary);

    background: var(--background);
    width: fit-content;

    & > .separator[data-orientation="vertical"] {
      align-self: stretch;
      height: auto;
      margin: var(--space-01) var(--space-01);
    }

    &[aria-orientation="vertical"] {
      flex-direction: column;

      & > .separator[data-orientation="horizontal"],
      & > .separator:not([data-orientation]) {
        height: 1px;
        width: var(--size-06);
        margin: var(--space-01) 0;
      }
    }
  }

  @media (forced-colors: active) {
    .toolbar {
      border-color: ButtonText;
    }
  }
}
